<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>
		<script type="text/javascript">Loader.load();</script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
		<script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
		
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<script src="https://app.kenticocloud.com/js-api/custom-element.js"></script>
		
		<style type="text/css">
			html, body
			{
				width: 100%;
				height: 100%;
				font-family: Lato;
			}
			#vueapp, #m
			{
				width: 100%;
				height: 100%;
			}
			.status
			{
				position: fixed;
				bottom: 0;
				height: 200px;
				width: 100%;
				background: #fff;
				z-index: 1;
				padding: 20px;
			}
			
			.button-error {
				color: white;
				border-radius: 4px;
				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
				background: rgb(202, 60, 60); /* this is a maroon */
			}
		</style>
	</head>
	
	<body>
		<div id="vueapp">
			<div id="m" @mousedown="mouseDown"></div>
			<div class="status pure-g">
				<div class="pure-u-1-6">
					<ul v-if="areas.length > 0" class="pure-menu-list">
						<li class="pure-menu-heading">Defined areas</li>
						<li v-for="(area, index) in areas" class="pure-menu-item"><a href="#" class="pure-menu-link" v-on:click="selectArea(index)">{{(area.name ? area.name : '(unnamed area)')}}</a></li>
					</ul>
					<p v-else>
						No areas defined yet.
					</p>
					<a href="#" class="pure-button pure-button-primary" v-on:click="save">Save all</a>
				</div>
				<div class="pure-u-1-12"></div>
				<div class="pure-u-17-24">
					<form class="pure-form pure-form-stacked">
						<fieldset>
						    <legend>Selected area</legend>
								<div class="pure-g">
									<div class="pure-u-1-2">
										<label for="name">Name</label>
										<input id="name" type="text" v-model="currentName" />
										<label for="code">Code</label>
										<input id="code" type="text" v-model="currentCode" />
									</div>
									<div class="pure-u-1-2" v-if="selectedArea > -1">
										<a href="#" class="pure-button button-error" v-on:click="deleteSelected">Delete</a>
										<a href="#" class="pure-button pure-button-secondary" v-on:click="cancelSelection">Cancel</a>
									</div>
								</div>
							</legend>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
		
			function isRightButton(e){
				var isRightMB;
				e = e || window.event;

				if ("which" in e)  // Gecko (Firefox), WebKit (Safari/Chrome) & Opera
					isRightMB = e.which == 3; 
				else if ("button" in e)  // IE, Opera 
					isRightMB = e.button == 2; 

				return isRightMB;
			}
			
			let data = {
				map: null,
				markerLayer: null,
				geometryLayer: null,
				areasLayer: null,
				areas: [],
				currentArea: [],
				currentName: null,
				currentCode: null,
				selectedArea: -1
			};
			
			const app = new Vue({
				el: '#vueapp',
				data: data,
				methods: {
					mouseDown: function(e){
						
						let isRightButton = window.isRightButton(e);
						if (window.isRightButton(e))
						{
							if (this.currentArea.length > 2)
							{
								// store new area
								this.areas.push({name: this.currentName, code: this.currentCode, area: this.currentArea});
								this.currentName = null;
								this.currentCode = null;
								this.redrawAreas();
							}

							// clear current
							this.currentArea = [];
							data.markerLayer.removeAll();
							data.geometryLayer.removeAll();
							data.markerLayer.redraw(false);
							data.geometryLayer.redraw(false);
						}
						e.preventDefault();
					},
					
					selectArea: function(i){
						this.selectedArea = i;
					},
					
					deleteSelected: function(){
						this.areas.splice(this.selectedArea, 1);
						this.redrawAreas();
					},
					
					cancelSelection: function(){
						this.selectedArea = -1;
						this.currentName = null;
						this.currentCode = null;
						this.redrawAreas();
					},
					
					isWithinDefinedArea: function (x, y) {
						var point = turf.point([x, y]);
						
						for (let i = 0; i < this.areas.length; i++)
						{
							let polygonCoordinates = this.areas[i].area.map(j => [j[1], j[0]]);
							polygonCoordinates.push([this.areas[i].area[0][1], this.areas[i].area[0][0]]);
							let polygon = turf.polygon([polygonCoordinates]);
							if (turf.booleanPointInPolygon(point, polygon))
							{
								// selecting area
								this.selectedArea = i;

								return true;
							}
						}
						
						return false;						
					},
					
					pushPoint: function(e, elm) {
						var coords = SMap.Coords.fromEvent(e.data.event, this.map);
						
						if (this.isWithinDefinedArea(coords.x, coords.y))
						{
							return;
						}
						
						this.currentArea.push([coords.y, coords.x]);
						
						data.geometryLayer.removeAll();
						
						data.markerLayer.addMarker(new SMap.Marker(coords), "Point", {});
						var polyline = new SMap.Geometry(SMap.GEOMETRY_POLYGON, null, this.currentArea.map(i => SMap.Coords.fromWGS84(i[1], i[0])), { color: "#f00" });
						data.geometryLayer.addGeometry(polyline);
						
						data.markerLayer.redraw(false);
						data.geometryLayer.redraw(false);
					},
					
					redrawAreas: function(){
						data.areasLayer.removeAll();
						
						for (var i = 0; i < data.areas.length; i++)
						{
							let polygon = new SMap.Geometry(SMap.GEOMETRY_POLYGON, null, data.areas[i].area.map(area => SMap.Coords.fromWGS84(area[1], area[0])), { color: (this.selectedArea == i ? "#999" : "#000") });
							data.areasLayer.addGeometry(polygon);
						}
						
						data.areasLayer.redraw(false);
					},
					
					save: function(){
						let data = JSON.stringify(this.areas);
						CustomElement.setValue(data);
					}
				},
				
				watch: {
					map: function(){
						var mouse = new SMap.Control.Mouse(SMap.MOUSE_PAN | SMap.MOUSE_WHEEL | SMap.MOUSE_ZOOM);
						this.map.addControl(mouse);
						
						this.map.getSignals().addListener(window, "map-click", this.pushPoint);
					},
					selectedArea: function(newVal){
						if (newVal > -1)
						{
							this.currentName = this.areas[newVal].name;
							this.currentCode = this.areas[newVal].code;
						}
						else
						{
							this.currentName = null;
							this.currentCode = null;
						}
						
						this.redrawAreas();
					},
					areas: function(newVal, oldVal){
					},
					
					currentName: function(newVal){
						if (this.selectedArea > -1)
						{
							this.areas[this.selectedArea].name = newVal;
						}
					},
					
					currentCode : function(newVal){
						if (this.selectedArea > -1)
						{
							this.areas[this.selectedArea].code = newVal;
						}
					}
				},
				
				
			});
			
			var center = SMap.Coords.fromWGS84(16.606710, 49.199002);
			data.map = new SMap(JAK.gel("m"), center, 13);
			data.map.addControl(new SMap.Control.Sync());
			data.map.addDefaultLayer(SMap.DEF_BASE).enable();

			data.markerLayer = new SMap.Layer.Marker();
			data.geometryLayer = new SMap.Layer.Geometry();
			data.areasLayer = new SMap.Layer.Geometry();
			data.map.addLayer(data.markerLayer);
			data.map.addLayer(data.geometryLayer);
			data.map.addLayer(data.areasLayer);
			data.markerLayer.enable();
			data.geometryLayer.enable();
			data.areasLayer.enable();
			
			CustomElement.setHeight(600);
			CustomElement.init((element, _context) => {
				if (element.value !== null)
				{
					data.areas = JSON.parse(element.value);
					app.redrawAreas();
				}
				if (element.config && element.config.outputFormat)
				{
					let config = JSON.parse(element.config.outputFormat);
					if (!config.coords || config.coords.length != 2 || !config.zoom)
					{
						console.log("Invalid configuration data");
						return;
					}
					
					data.map.setCenterZoom(SMap.Coords.fromWGS84(config.coords[1], config.coords[0]), config.zoom, true);
				}
			});
		</script>
	</body>
	
</html>